hr {
  display: block;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  border-width: 0em;
  height: 3px;
  background-color: black;
}
